body {
  margin: 0;
}

.entry {
  text-align: center;
  min-height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet {
  background: navy;
}

.planet div {
  width: 160px;
  height: 160px;
  position: absolute;
  border: 24px solid #ffd64f;
  transform: rotateX(72deg) rotateY(-16deg);
}
.planet div::before {
  width: 140px;
  height: 140px;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  margin-top: -70px;
  background-color: #00d7c5;
  box-shadow: inset -16px -8px #00a497;
}
.planet div::after {
  width: 40px;
  height: 40px;
  top: -104px;
  left: 96px;
  background-color: #ff8d36;
  box-shadow: inset -8px -6px #ff7003;
}

.planet div::before, .planet div::after {
  display: block;
  content: "";
  position: absolute;
}

.planet div, .planet div::before, .planet div::after {
  transform-style: preserve-3d;
}

.planet div::before, .planet div::after {
  transform: rotateX(-72deg) rotateY(16deg);
}

.planet div, .planet div::before, .planet div::after {
  border-radius: 50%;
}

@keyframes move {
  from {
    transform: translate3d(0, -4px, 0);
  }
  to {
    transform: translate3d(0, 4px, 0);
  }
}
.ring-animation {
  background-image: radial-gradient(circle at center, lightskyblue, dodgerblue);
}
.ring-animation div {
  position: relative;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateX(45deg);
  perspective: none;
}
.ring-animation div::before, .ring-animation div::after {
  display: block;
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 35%;
  height: 35%;
  border-radius: 50%;
  border: 16px solid mintcream;
  border-bottom-width: 24px;
  box-shadow: 0 12px powderblue, inset 0 12px powderblue;
}
.ring-animation div::before {
  transform: translateZ(-160px);
  animation: up-and-down-pseudo-elem-before 2s ease-in-out infinite;
}
.ring-animation div::after {
  transform: translateZ(160px);
  animation: up-and-down-pseudo-elem-after 2s ease-in-out infinite;
}

@keyframes up-and-down-pseudo-elem-before {
  0% {
    transform: translateZ(-160px);
    width: 35%;
    height: 35%;
  }
  25% {
    transform: translateZ(-160px);
    width: 100%;
    height: 100%;
  }
  50% {
    transform: translateZ(160px);
    width: 100%;
    height: 100%;
  }
  75% {
    transform: translateZ(160px);
    width: 35%;
    height: 35%;
  }
  100% {
    transform: translateZ(-160px);
    width: 35%;
    height: 35%;
  }
}
@keyframes up-and-down-pseudo-elem-after {
  0% {
    transform: translateZ(160px);
    width: 100%;
    height: 100%;
  }
  25% {
    transform: translateZ(160px);
    width: 35%;
    height: 35%;
  }
  50% {
    transform: translateZ(-160px);
    width: 35%;
    height: 35%;
  }
  75% {
    transform: translateZ(-160px);
    width: 100%;
    height: 100%;
  }
  100% {
    transform: translateZ(160px);
    width: 100%;
    height: 100%;
  }
}
