body {
  margin: 0;
}

.entry {
  text-align: center;
  min-height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  background-image: radial-gradient(circle at center, white, lightsalmon);
}

.burger div {
  width: 290px;
  height: 260px;
  position: relative;
}

.burger div::before {
  display: block;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: transparent;
  box-shadow: 70px 0px chocolate, 80px 0px chocolate, 90px 0px chocolate, 100px 0px chocolate, 110px 0px chocolate, 120px 0px chocolate, 130px 0px chocolate, 140px 0px chocolate, 150px 0px chocolate, 160px 0px chocolate, 170px 0px chocolate, 180px 0px chocolate, 190px 0px chocolate, 200px 0px chocolate, 210px 0px chocolate, 220px 0px chocolate, 50px 10px chocolate, 60px 10px chocolate, 70px 10px peachpuff, 80px 10px sandybrown, 90px 10px papayawhip, 100px 10px sandybrown, 110px 10px sandybrown, 120px 10px papayawhip, 130px 10px sandybrown, 140px 10px sandybrown, 150px 10px papayawhip, 160px 10px sandybrown, 170px 10px sandybrown, 180px 10px papayawhip, 190px 10px sandybrown, 200px 10px sandybrown, 210px 10px papayawhip, 220px 10px sandybrown, 230px 10px chocolate, 240px 10px chocolate, 40px 20px chocolate, 50px 20px peachpuff, 60px 20px papayawhip, 70px 20px sandybrown, 80px 20px sandybrown, 90px 20px sandybrown, 100px 20px sandybrown, 110px 20px sandybrown, 120px 20px sandybrown, 130px 20px sandybrown, 140px 20px papayawhip, 150px 20px sandybrown, 160px 20px papayawhip, 170px 20px sandybrown, 180px 20px sandybrown, 190px 20px sandybrown, 200px 20px sandybrown, 210px 20px sandybrown, 220px 20px sandybrown, 230px 20px papayawhip, 240px 20px sandybrown, 250px 20px chocolate, 30px 30px chocolate, 40px 30px peachpuff, 50px 30px sandybrown, 60px 30px peachpuff, 70px 30px sandybrown, 80px 30px sandybrown, 90px 30px sandybrown, 100px 30px papayawhip, 110px 30px sandybrown, 120px 30px sandybrown, 130px 30px sandybrown, 140px 30px sandybrown, 150px 30px sandybrown, 160px 30px sandybrown, 170px 30px sandybrown, 180px 30px sandybrown, 190px 30px papayawhip, 200px 30px sandybrown, 210px 30px sandybrown, 220px 30px sandybrown, 230px 30px sandybrown, 240px 30px sandybrown, 250px 30px peru, 260px 30px chocolate, 20px 40px chocolate, 30px 40px peachpuff, 40px 40px sandybrown, 50px 40px peachpuff, 60px 40px sandybrown, 70px 40px sandybrown, 80px 40px sandybrown, 90px 40px sandybrown, 100px 40px sandybrown, 110px 40px sandybrown, 120px 40px sandybrown, 130px 40px sandybrown, 140px 40px sandybrown, 150px 40px papayawhip, 160px 40px sandybrown, 170px 40px sandybrown, 180px 40px sandybrown, 190px 40px sandybrown, 200px 40px sandybrown, 210px 40px sandybrown, 220px 40px sandybrown, 230px 40px sandybrown, 240px 40px peru, 250px 40px sandybrown, 260px 40px peru, 270px 40px chocolate, 20px 50px chocolate, 30px 50px peachpuff, 40px 50px sandybrown, 50px 50px sandybrown, 60px 50px sandybrown, 70px 50px sandybrown, 80px 50px sandybrown, 90px 50px sandybrown, 100px 50px sandybrown, 110px 50px sandybrown, 120px 50px sandybrown, 130px 50px sandybrown, 140px 50px sandybrown, 150px 50px sandybrown, 160px 50px sandybrown, 170px 50px sandybrown, 180px 50px sandybrown, 190px 50px sandybrown, 200px 50px sandybrown, 210px 50px sandybrown, 220px 50px peru, 230px 50px peru, 240px 50px sandybrown, 250px 50px peru, 260px 50px peru, 270px 50px chocolate, 10px 60px chocolate, 20px 60px peachpuff, 30px 60px sandybrown, 40px 60px sandybrown, 50px 60px sandybrown, 60px 60px sandybrown, 70px 60px sandybrown, 80px 60px sandybrown, 90px 60px sandybrown, 100px 60px sandybrown, 110px 60px sandybrown, 120px 60px sandybrown, 130px 60px sandybrown, 140px 60px sandybrown, 150px 60px sandybrown, 160px 60px sandybrown, 170px 60px sandybrown, 180px 60px sandybrown, 190px 60px sandybrown, 200px 60px sandybrown, 210px 60px sandybrown, 210px 60px peru, 220px 60px peru, 230px 60px peru, 240px 60px peru, 250px 60px sandybrown, 260px 60px peru, 270px 60px peru, 280px 60px chocolate, 10px 70px chocolate, 20px 70px peachpuff, 30px 70px peru, 40px 70px peru, 50px 70px peru, 60px 70px peru, 70px 70px peru, 80px 70px peru, 90px 70px peru, 100px 70px peru, 110px 70px peru, 120px 70px peru, 130px 70px peru, 140px 70px peru, 150px 70px peru, 160px 70px peru, 170px 70px peru, 180px 70px peru, 190px 70px peru, 200px 70px peru, 210px 70px peru, 220px 70px peru, 230px 70px peru, 240px 70px peru, 250px 70px peru, 260px 70px peru, 270px 70px peru, 280px 70px chocolate, 10px 80px chocolate, 20px 80px chocolate, 30px 80px chocolate, 40px 80px lawngreen, 50px 80px lawngreen, 60px 80px yellowgreen, 70px 80px olivedrab, 80px 80px chocolate, 90px 80px chocolate, 100px 80px chocolate, 110px 80px chocolate, 120px 80px chocolate, 130px 80px chocolate, 140px 80px olivedrab, 150px 80px yellowgreen, 160px 80px chocolate, 170px 80px lawngreen, 180px 80px chocolate, 190px 80px chocolate, 200px 80px chocolate, 210px 80px lawngreen, 220px 80px chocolate, 230px 80px chocolate, 240px 80px chocolate, 250px 80px chocolate, 260px 80px yellowgreen, 270px 80px chocolate, 280px 80px chocolate, 20px 90px yellowgreen, 30px 90px olivedrab, 40px 90px yellowgreen, 50px 90px yellowgreen, 60px 90px olivedrab, 70px 90px yellowgreen, 80px 90px olivedrab, 90px 90px lawngreen, 100px 90px yellowgreen, 110px 90px yellowgreen, 120px 90px olivedrab, 130px 90px yellowgreen, 140px 90px yellowgreen, 150px 90px olivedrab, 160px 90px yellowgreen, 170px 90px yellowgreen, 180px 90px yellowgreen, 190px 90px yellowgreen, 200px 90px lawngreen, 210px 90px yellowgreen, 220px 90px olivedrab, 230px 90px olivedrab, 240px 90px olivedrab, 250px 90px yellowgreen, 260px 90px olivedrab, 270px 90px lawngreen, 10px 100px lawngreen, 20px 100px lightcoral, 30px 100px tomato, 40px 100px orangered, 50px 100px tomato, 60px 100px orangered, 70px 100px orangered, 80px 100px tomato, 90px 100px tomato, 100px 100px yellowgreen, 110px 100px olivedrab, 120px 100px tomato, 130px 100px tomato, 140px 100px orangered, 150px 100px tomato, 160px 100px orangered, 170px 100px tomato, 180px 100px tomato, 190px 100px olivedrab, 200px 100px tomato, 210px 100px lightcoral, 220px 100px lightcoral, 230px 100px tomato, 240px 100px tomato, 250px 100px orangered, 260px 100px olivedrab, 270px 100px olivedrab, 280px 100px yellowgreen, 10px 110px yellow, 20px 110px gold, 30px 110px gold, 40px 110px gold, 50px 110px gold, 60px 110px gold, 70px 110px yellow, 70px 110px yellow, 80px 110px gold, 90px 110px gold, 100px 110px gold, 110px 110px yellowgreen, 120px 110px lawngreen, 130px 110px yellow, 140px 110px gold, 150px 110px gold, 160px 110px gold, 170px 110px gold, 180px 110px yellow, 190px 110px yellow, 200px 110px yellow, 210px 110px yellow, 220px 110px yellow, 230px 110px yellow, 240px 110px gold, 250px 110px gold, 260px 110px gold, 270px 110px yellow, 280px 110px olivedrab, 10px 120px saddlebrown, 20px 120px yellow, 30px 120px gold, 40px 120px saddlebrown, 50px 120px saddlebrown, 60px 120px saddlebrown, 70px 120px saddlebrown, 80px 120px saddlebrown, 90px 120px saddlebrown, 100px 120px saddlebrown, 110px 120px saddlebrown, 120px 120px yellowgreen, 130px 120px saddlebrown, 140px 120px saddlebrown, 150px 120px saddlebrown, 160px 120px saddlebrown, 170px 120px saddlebrown, 180px 120px saddlebrown, 190px 120px saddlebrown, 200px 120px saddlebrown, 210px 120px yellow, 220px 120px gold, 230px 120px gold, 240px 120px yellow, 250px 120px yellow, 260px 120px saddlebrown, 270px 120px saddlebrown, 0px 130px saddlebrown, 10px 130px sienna, 20px 130px sienna, 30px 130px gold, 40px 130px sienna, 50px 130px sienna, 60px 130px sienna, 70px 130px saddlebrown, 80px 130px saddlebrown, 90px 130px saddlebrown, 100px 130px sienna, 110px 130px sienna, 120px 130px sienna, 130px 130px saddlebrown, 140px 130px saddlebrown, 150px 130px sienna, 160px 130px sienna, 170px 130px saddlebrown, 180px 130px saddlebrown, 190px 130px saddlebrown, 200px 130px sienna, 210px 130px sienna, 220px 130px yellow, 230px 130px gold, 240px 130px gold, 250px 130px sienna, 260px 130px sienna, 270px 130px sienna, 280px 130px saddlebrown, 0px 140px saddlebrown, 10px 140px sienna, 20px 140px sienna, 30px 140px sienna, 40px 140px sienna, 50px 140px sienna, 60px 140px saddlebrown, 70px 140px saddlebrown, 80px 140px saddlebrown, 90px 140px sienna, 100px 140px sienna, 110px 140px sienna, 120px 140px saddlebrown, 130px 140px saddlebrown, 140px 140px sienna, 150px 140px sienna, 160px 140px sienna, 170px 140px saddlebrown, 180px 140px sienna, 190px 140px sienna, 200px 140px sienna, 210px 140px saddlebrown, 220px 140px saddlebrown, 230px 140px gold, 240px 140px saddlebrown, 250px 140px saddlebrown, 260px 140px saddlebrown, 270px 140px saddlebrown, 280px 140px saddlebrown, 10px 150px saddlebrown, 20px 150px saddlebrown, 30px 150px saddlebrown, 40px 150px saddlebrown, 50px 150px saddlebrown, 60px 150px saddlebrown, 70px 150px saddlebrown, 80px 150px saddlebrown, 90px 150px saddlebrown, 100px 150px saddlebrown, 110px 150px saddlebrown, 120px 150px saddlebrown, 130px 150px saddlebrown, 140px 150px saddlebrown, 150px 150px saddlebrown, 160px 150px saddlebrown, 170px 150px saddlebrown, 180px 150px saddlebrown, 190px 150px saddlebrown, 200px 150px saddlebrown, 210px 150px saddlebrown, 220px 150px saddlebrown, 230px 150px saddlebrown, 240px 150px saddlebrown, 250px 150px saddlebrown, 260px 150px saddlebrown, 270px 150px saddlebrown, 10px 160px gold, 10px 160px yellow, 20px 160px yellow, 30px 160px yellow, 40px 160px gold, 50px 160px gold, 60px 160px gold, 70px 160px gold, 80px 160px gold, 90px 160px gold, 100px 160px gold, 110px 160px gold, 120px 160px yellow, 130px 160px gold, 140px 160px gold, 150px 160px gold, 160px 160px gold, 170px 160px gold, 180px 160px gold, 180px 160px yellow, 190px 160px yellow, 200px 160px yellow, 190px 160px gold, 200px 160px gold, 210px 160px gold, 220px 160px gold, 230px 160px gold, 240px 160px gold, 250px 160px gold, 260px 160px gold, 270px 160px yellow, 10px 170px saddlebrown, 20px 170px saddlebrown, 30px 170px saddlebrown, 40px 170px saddlebrown, 50px 170px saddlebrown, 60px 170px saddlebrown, 70px 170px saddlebrown, 80px 170px saddlebrown, 90px 170px saddlebrown, 100px 170px saddlebrown, 110px 170px yellow, 120px 170px gold, 130px 170px gold, 140px 170px gold, 150px 170px gold, 160px 170px gold, 170px 170px gold, 180px 170px saddlebrown, 190px 170px saddlebrown, 200px 170px saddlebrown, 210px 170px saddlebrown, 220px 170px saddlebrown, 230px 170px saddlebrown, 240px 170px saddlebrown, 250px 170px saddlebrown, 260px 170px saddlebrown, 270px 170px saddlebrown, 0px 180px saddlebrown, 10px 180px sienna, 20px 180px sienna, 30px 180px sienna, 40px 180px sienna, 50px 180px sienna, 60px 180px sienna, 60px 180px saddlebrown, 70px 180px saddlebrown, 80px 180px saddlebrown, 90px 180px saddlebrown, 100px 180px sienna, 110px 180px sienna, 120px 180px yellow, 130px 180px gold, 140px 180px gold, 150px 180px gold, 160px 180px sienna, 170px 180px saddlebrown, 180px 180px saddlebrown, 190px 180px saddlebrown, 200px 180px sienna, 210px 180px sienna, 220px 180px sienna, 230px 180px saddlebrown, 240px 180px sienna, 250px 180px sienna, 260px 180px saddlebrown, 270px 180px saddlebrown, 280px 180px saddlebrown, 0px 190px saddlebrown, 10px 190px sienna, 20px 190px sienna, 30px 190px sienna, 40px 190px sienna, 50px 190px sienna, 60px 190px saddlebrown, 70px 190px saddlebrown, 80px 190px saddlebrown, 90px 190px sienna, 100px 190px sienna, 110px 190px sienna, 120px 190px saddlebrown, 130px 190px gold, 140px 190px sienna, 150px 190px sienna, 160px 190px sienna, 170px 190px saddlebrown, 180px 190px sienna, 190px 190px sienna, 200px 190px sienna, 210px 190px saddlebrown, 220px 190px saddlebrown, 230px 190px saddlebrown, 240px 190px saddlebrown, 250px 190px saddlebrown, 260px 190px saddlebrown, 270px 190px saddlebrown, 280px 190px saddlebrown, 10px 200px saddlebrown, 20px 200px saddlebrown, 30px 200px saddlebrown, 40px 200px saddlebrown, 50px 200px saddlebrown, 60px 200px saddlebrown, 70px 200px saddlebrown, 80px 200px saddlebrown, 90px 200px saddlebrown, 100px 200px saddlebrown, 110px 200px saddlebrown, 120px 200px saddlebrown, 130px 200px saddlebrown, 140px 200px saddlebrown, 150px 200px saddlebrown, 160px 200px saddlebrown, 170px 200px saddlebrown, 180px 200px saddlebrown, 190px 200px saddlebrown, 200px 200px saddlebrown, 210px 200px saddlebrown, 220px 200px saddlebrown, 230px 200px saddlebrown, 240px 200px saddlebrown, 250px 200px saddlebrown, 260px 200px saddlebrown, 270px 200px saddlebrown, 20px 210px chocolate, 30px 210px chocolate, 40px 210px chocolate, 50px 210px chocolate, 60px 210px chocolate, 70px 210px chocolate, 80px 210px chocolate, 90px 210px chocolate, 100px 210px chocolate, 110px 210px chocolate, 120px 210px chocolate, 130px 210px chocolate, 140px 210px chocolate, 150px 210px chocolate, 160px 210px chocolate, 170px 210px chocolate, 180px 210px chocolate, 190px 210px chocolate, 200px 210px chocolate, 210px 210px chocolate, 220px 210px chocolate, 230px 210px chocolate, 240px 210px chocolate, 250px 210px chocolate, 260px 210px chocolate, 20px 220px chocolate, 30px 220px peachpuff, 40px 220px sandybrown, 50px 220px sandybrown, 60px 220px sandybrown, 70px 220px sandybrown, 80px 220px sandybrown, 90px 220px sandybrown, 100px 220px sandybrown, 110px 220px sandybrown, 120px 220px sandybrown, 130px 220px sandybrown, 140px 220px sandybrown, 150px 220px sandybrown, 160px 220px sandybrown, 170px 220px sandybrown, 180px 220px sandybrown, 190px 220px sandybrown, 200px 220px sandybrown, 210px 220px sandybrown, 220px 220px sandybrown, 230px 220px peru, 240px 220px sandybrown, 250px 220px peru, 260px 220px chocolate, 20px 230px chocolate, 30px 230px peachpuff, 40px 230px sandybrown, 50px 230px sandybrown, 60px 230px sandybrown, 70px 230px sandybrown, 80px 230px sandybrown, 90px 230px sandybrown, 100px 230px sandybrown, 110px 230px sandybrown, 120px 230px sandybrown, 130px 230px sandybrown, 140px 230px sandybrown, 150px 230px sandybrown, 160px 230px sandybrown, 170px 230px sandybrown, 180px 230px sandybrown, 190px 230px sandybrown, 200px 230px sandybrown, 210px 230px peru, 220px 230px peru, 230px 230px sandybrown, 240px 230px peru, 250px 230px peru, 260px 230px chocolate, 30px 240px chocolate, 40px 240px peachpuff, 40px 240px peru, 50px 240px peru, 60px 240px peru, 70px 240px peru, 80px 240px peru, 90px 240px peru, 100px 240px peru, 110px 240px peru, 120px 240px peru, 130px 240px peru, 140px 240px peru, 150px 240px peru, 160px 240px peru, 170px 240px peru, 180px 240px peru, 190px 240px peru, 200px 240px peru, 210px 240px peru, 220px 240px peru, 230px 240px peru, 240px 240px peru, 250px 240px chocolate, 40px 250px chocolate, 50px 250px chocolate, 60px 250px chocolate, 70px 250px chocolate, 80px 250px chocolate, 90px 250px chocolate, 100px 250px chocolate, 110px 250px chocolate, 120px 250px chocolate, 130px 250px chocolate, 140px 250px chocolate, 150px 250px chocolate, 160px 250px chocolate, 170px 250px chocolate, 180px 250px chocolate, 190px 250px chocolate, 200px 250px chocolate, 210px 250px chocolate, 220px 250px chocolate, 230px 250px chocolate, 240px 250px chocolate;
}

.planet div {
  transform-style: preserve-3d;
}

.planet div::before, .planet div::after {
  display: block;
  content: "";
  position: absolute;
}

.planet div::before, .planet div::after {
  transform: rotateX(-72deg) rotateY(16deg);
}

.planet div, .planet div::before, .planet div::after {
  border-radius: 50%;
}

.planet {
  background-image: radial-gradient(circle at center, cornflowerblue, darkslateblue);
}

.planet div {
  width: 160px;
  height: 160px;
  position: absolute;
  border: 24px solid gold;
  transform: rotateX(72deg) rotateY(-16deg);
}

.planet div::before {
  width: 140px;
  height: 140px;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  margin-top: -70px;
  background-color: mediumturquoise;
  box-shadow: inset -16px -8px lightseagreen;
}

.planet div::after {
  width: 40px;
  height: 40px;
  top: -104px;
  left: 96px;
  background-color: tomato;
  box-shadow: inset -8px -6px orangered;
}

@keyframes move {
  from {
    transform: translate3d(0, -4px, 0);
  }
  to {
    transform: translate3d(0, 4px, 0);
  }
}

.ring-animation {
  background-image: radial-gradient(circle at center, lightskyblue, dodgerblue);
}

.ring-animation div {
  position: relative;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateX(45deg);
  perspective: none;
}

.ring-animation div::before, .ring-animation div::after {
  display: block;
  content: "";
  position: absolute;
  box-sizing: border-box;
  border-radius: 50%;
  border: 16px solid mintcream;
  border-bottom-width: 24px;
  box-shadow: 0 12px powderblue, inset 0 12px powderblue;
}

.ring-animation div::before {
  transform: translateZ(-160px);
  width: 50%;
  height: 50%;
  animation: up-and-down-pseudo-elem-before 2.5s ease-in-out infinite;
}

.ring-animation div::after {
  transform: translateZ(160px);
  width: 100%;
  height: 100%;
  animation: up-and-down-pseudo-elem-after 2.5s ease-in-out infinite;
}

@keyframes up-and-down-pseudo-elem-before {
  0% {
    transform: translateZ(-160px);
    width: 50%;
    height: 50%;
  }
  25% {
    transform: translateZ(-160px);
    width: 100%;
    height: 100%;
  }
  50% {
    transform: translateZ(160px);
    width: 100%;
    height: 100%;
  }
  75% {
    transform: translateZ(160px);
    width: 50%;
    height: 50%;
  }
  100% {
    transform: translateZ(-160px);
    width: 50%;
    height: 50%;
  }
}

@keyframes up-and-down-pseudo-elem-after {
  0% {
    transform: translateZ(160px);
    width: 100%;
    height: 100%;
  }
  25% {
    transform: translateZ(160px);
    width: 50%;
    height: 50%;
  }
  50% {
    transform: translateZ(-160px);
    width: 50%;
    height: 50%;
  }
  75% {
    transform: translateZ(-160px);
    width: 100%;
    height: 100%;
  }
  100% {
    transform: translateZ(160px);
    width: 100%;
    height: 100%;
  }
}

.target {
  background-image: radial-gradient(circle at center, white , thistle);
}

.target div {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  box-shadow: inset 8px 0 indianred;
  background-repeat: no-repeat;
  background-image: repeating-radial-gradient(circle, white, white 20px, lightcoral 21px, lightcoral 40px, white 41px, white 60px, lightcoral 61px, lightcoral 81px);
}

.target div::before {
  display: block;
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translate(77px, -19px);
  background-repeat: no-repeat;
  background-image: radial-gradient(9% 15% ellipse at 64% 22%, lightskyblue 20px, transparent 20px), radial-gradient(15% 9% ellipse at 80% 36%, lightskyblue 20px, transparent 20px), radial-gradient(9% 15% ellipse at 50% 36%, lightskyblue 20px, transparent 20px), radial-gradient(15% 9% ellipse at 66% 50%, lightskyblue 20px, transparent 20px), radial-gradient(9% 15% ellipse at 38% 54%, lightskyblue 20px, transparent 20px), radial-gradient(15% 9% ellipse at 50% 63%, lightskyblue 20px, transparent 20px);
}

.target div::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 96px;
  border-radius: 10px 10px 0 0;
  transform: rotate(45deg) translate(-38px, -75px);
  background-repeat: no-repeat;
  background-image: linear-gradient(to left, cornflowerblue, cornflowerblue 6px, royalblue 6px, royalblue);
}
