$c-planet-1: hsl(175, 100.0%, 42.2%)
$c-planet-2: hsl(26, 100.0%, 60.6%)
$c-ring: hsl(46, 100.0%, 65.5%)

$width-planet-1: 140px
$height-planet-1: 140px

@function adjust-margin-to-center-element($width-or-height)
  @return -1/2 * $width-or-height

.entry
  text-align: center
  min-height: 400px
  position: relative
  display: flex
  justify-content: center
  align-items: center

.planet 
  background: navy
  
.planet
  div
    @extend %border-radius-50
    @extend %preserve-3d
    width: 160px
    height: 160px
    position: absolute
    border: 24px solid $c-ring
    transform: rotateX(72deg) rotateY(-16deg)
  
  div::before
    @extend %pseudo-element
    @extend %preserve-3d
    @extend %reverse-rotation
    @extend %border-radius-50
    width: $width-planet-1
    height: $height-planet-1
    top: 50%
    left: 50%
    margin-left: adjust-margin-to-center-element($width-planet-1)
    margin-top: adjust-margin-to-center-element($height-planet-1)
    background-color: $c-planet-1
    box-shadow: inset -16px -8px darken($c-planet-1, 10%)
  
  div::after
    @extend %pseudo-element
    @extend %preserve-3d
    @extend %reverse-rotation
    @extend %border-radius-50
    width: 40px
    height: 40px
    top: -104px
    left: 96px
    background-color: $c-planet-2
    box-shadow: inset -8px -6px darken($c-planet-2, 10%)
    // animation: move 4s infinite alternate ease
    
%pseudo-element
  display: block
  content: ""
  position: absolute

%preserve-3d
  transform-style: preserve-3d

%reverse-rotation
  transform: rotateX(-72deg) rotateY(16deg)
  
%border-radius-50
  border-radius: 50%

@keyframes move
  from
    transform: translate3d(0, -4px, 0)
  to
    transform: translate3d(0, 4px, 0)
